@import "color"
//*
  //box-sizing: content-box


body
  background-color: $white

hr
  border-color: #090909

.btn
  border: solid 1px $red
  background-color: $white
.row
  //background-color: yellow
  //border-color: #090909
  //border: solid 1px




